{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.code) }}
            {{ form_row(form.shipAt) }}
            {{ form_row(form.channels) }}
            {{ form_row(form.priority) }}
        </div>
    </div>

    <div class="column">
        <div class="ui segment">
            {{ form_row(form.weekday) }}
            {{ form_row(form.startsAt) }}
            {{ form_row(form.endsAt) }}
        </div>
    </div>
</div>
